
// This file is all alignment variables that contain prefixes - Flexbox

	%display-flex{
		display: flex;
	}

	%display-inline-flex{
		display: inline-flex;
	}

	%display-flex-wrap{
		display: flex;
		flex-wrap: wrap;
	}

	%display-flex-space-between{
		display: flex;
		flex-wrap: wrap;
        justify-content: space-between;
	}

	%flex-remove-wrap{
        flex-wrap: nowrap;
	}

	%flex-direction-columns{
		flex-direction: column;
	}

	%flex-center-horizontal{
		justify-content: center;
	}

	%flex-center-vertical{
		align-items: center;
	}

	%flex-center-all{
		@extend %flex-center-vertical;
		@extend %flex-center-horizontal;
	}

	%flex-align-bottom{
        align-self: flex-end;
	}

	%flex-justify-left{
        justify-content: flex-start;
	}

	%flex-justify-right{
        justify-content: flex-end;
	}

	%flex-grow-1{
		flex-grow: 1;
	}
	