
@import "./src/global-css/variables/variables";

// For the styling of the capabilities content block
// This has the title on the top and the cpapbility cards below

.caps__contain{
	position: relative;

	.heading{
		margin-bottom: 60px;
	}
}

// For the last card on the list
// This contain the dots and more to come text

.caps__more{
	@extend %display-flex-wrap;
	@extend %flex-center-all;
	position: relative;
	padding: 0 32px;
	text-align: center;
	line-height: 1.5;

	// For the dots on the top of the container

	.icon__dots{
		@extend %display-flex;
		@extend %flex-center-all;
		position: relative;
		width: 40px;
		height: 10px;
		margin: 0 auto 20px;

		// For the dots in the center of the container

		&:before, span:before, span:after{
			content: ' ';
			position: absolute;
			top: 0;
			width: 10px;
			height: 10px;
			background: $green;
			border-radius: 50%;
		}

		span:before{ left: 0; }
		span:after{ right: 0; }
	}
}
